<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div id="app">
            <ul>
                <% if ( errors.filter(errIndex => errIndex.length != 0).length ) { %>
                    <% errors.forEach (error => { %>
                        <li> <%= error %> </li>
                    <% }) %>
                <% } %>
            </ul>
            <form method="post" action="/post">
                <input type="email" name="email" placeholder="email">
                <br>
                <input type="text" name="name" placeholder="nome">
                <br>
                <input type="int" name="age" placeholder="idade">
                <br>
                <button type="submit">send</button>
            </form>
        </div>
    </body>
</html>